@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

$background-dark-grey: #222222;
$background-light-grey: #2d2d2d;
$element-green: #c1ff72;
$element-red: #f8413c;

$sidebar-width: 250px;
$transition-duration: 0.3s;
$box-padding: 20px;
$border-color: #575757;
$border-width: 2px;

$font-family: 'Barlow Semi Condensed', sans-serif;
$font-family-heading: 'Fugaz One', cursive;